<% title = 'Contact' %>
<section>
  <h1>Contact</h1>
  <p>Email: <a href="mailto:<%= contact.email %>"><%= contact.email %></a></p>
  <p>LinkedIn: <a href="<%= contact.linkedin %>"><%= contact.linkedin %></a></p>
</section>
